<section class="h-100">
  <div class="container d-flex justify-content-center">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card mt-5 p-4">
          <div class="card-body">
            <h4 class="card-title">Login</h4>
              <%= form_tag(url: login_path, local: true) do %>
                <div class="form-group">
                  <label for="email">E-Mail Address</label>
                  <%= text_field_tag :email, "", class: 'form-control', required: true, autofocus: true %>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <%= password_field_tag :password, "", class: 'form-control', required: true %>
                </div>

                <div class="form-group m-0">
                  <%= submit_tag "Log in", { class: "btn btn-primary btn-block mt-3" } %>
                </div>
                <div class="mt-4 text-center">
                  Don't have an account? <%= link_to 'Create One', signup_path %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
