<div class="container d-flex justify-content-center">
	<div class="card mt-5 p-4">
    <strong class='post-title'>Post a Question</strong><br />
    <% if @post.errors.any? %>
      <strong style='font-size: 20px;'>Errors</strong><br />
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, "error") %> prohibited
          this post from being saved:
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for :post, url: user_posts_path(1) do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>

  </div>
</div>
